{% extends "base.html" %}

{% block content %}
<section class="section">

    <h1 class="section-title">Education & Certifications</h1>

    <div class="content-box">

        <h3>Education</h3>
        {% for edu in education %}
        <div class="resume-box">
            <strong>{{ edu.title }}</strong><br>
            <span>{{ edu.school }}</span><br>
            <em>{{ edu.period }}</em>
        </div>
        {% endfor %}

        <h3>Certifications</h3>
        {% for cert in certifications %}
        <div class="resume-box">
            <strong>{{ cert.title }}</strong><br>
            <span>{{ cert.provider }}</span><br>
            <em>{{ cert.year }}</em>
        </div>
        {% endfor %}

    </div>

</section>
{% endblock %}
