{% extends "base.html" %}

{% block content %}
<section class="section started">

    <div class="started-content">

        <div class="avatar"
             style="background-image:url('/static/images/profile.jpg');">
        </div>

        <h1 class="h-title">
            Charis <strong>Kyritsis</strong>
        </h1>

        <div class="typed-subtitle">
            Data Analyst • Machine Learning Engineer • AI Developer
        </div>

        <p class="hero-description">
            I design and build data-driven & AI-powered products, combining
            analytics, machine learning, automation and engineering to
            deliver measurable business impact.
        </p>

        <div class="hero-buttons">
            <a href="/projects" class="btn-main">View Projects</a>
            <a href="/contact" class="btn-main btn-alt">Contact Me</a>
        </div>

    </div>

</section>
{% endblock %}
